body{ 
    color: rgb(0, 0, 0);
    background-color: rgb(40, 88, 31);
}
.titulo-principal{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}
.img{
    width: 50%;
    align-items: center;
}
.fonte-secundario{
    font-size: 24px;
}
.conteudo-titulo{
    text-align:center;
}
.cadeado{
    width: 50%;
    margin: 0;

}